<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="" target="_blank"></a>
    <img src="/public/Images/sign-in-project.png" alt="">
    <a href=""></a>
    <ul>
        <li>B.Tech in Computer Science Engineering</li>
        <li></li>
    </ul>

    <img src="/Images/about-me.jpg" alt="">
    <img src="/public/Images/himanshu.jpg" alt="" width="20px" height="20px">
    

    <a href=""></a>
    <img src="/public/Images/" alt="">
</body>

</html>